<div class="grid grid-cols-1 w-full gap-10 md:grid-cols-2 lg:grid-cols-2 xl:grid-cols-5 top-0">


  <!-- Place Searcher -->
  <div class="xl:row-span-1 xl:col-span-2 h-20 p-5 dark:bg-night-700">
    <div class="flex">
      <button (click)="searchPlace()" class="Icon btn rounded-lg">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#657789"
          stroke-width="3" stroke-linecap="round" stroke-linejoin="round" class="feather feather-search">
          <circle cx="11" cy="11" r="8" />
          <line x1="21" y1="21" x2="16.65" y2="16.65" />
        </svg>
      </button>
      <div>
        <input placeholder="Search place..."
          class="effect-inside mt-1 w-full rounded-lg border-gray-200 shadow-sm sm:text-sm " [(ngModel)]="searchText" />
      </div>
    </div>

  </div>

  <!-- Place Searcher -->
  <!-- <button (click)="searchPlace()"
    class="Icon btn rounded-lg flex xl:row-span-1 xl:col-span-1 h-20 p-5 dark:bg-night-700">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#657789"
      stroke-width="3" stroke-linecap="round" stroke-linejoin="round" class="feather feather-search">
      <circle cx="11" cy="11" r="8" />
      <line x1="21" y1="21" x2="16.65" y2="16.65" />
    </svg>
  </button>
  <input placeholder="Search place..." class="effect-inside mt-1 w-full rounded-lg border-gray-200 shadow-sm sm:text-sm " [(ngModel)]="searchText" /> -->

  <!-- Current Location-->
  <button class="flex xl:row-span-1 xl:col-span-2 h-20 items-center p-4  dark:bg-night-700 effect rounded-2xl  btn "
    (click)="searchPlace()">
    <div class="flex items-center hover:rounded-xl xl:hover:w-full xl:pl-10 lg:pl-10 transition duration-100 ease-in-out hoverEffect">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" width="40" height="40" viewBox="0 0 24 24" stroke-width="1.5"
        stroke="#657789" class="feather feather-location">
        <path stroke-linecap="round" stroke-linejoin="round" d="M20.893 13.393l-1.135-1.135a2.252 2.252 0
        01-.421-.585l-1.08-2.16a.414.414 0 00-.663-.107.827.827 0 01-.812.21l-1.273-.363a.89.89 0 00-.738
        1.595l.587.39c.59.395.674 1.23.172 1.732l-.2.2c-.212.212-.33.498-.33.796v.41c0 .409-.11.809-.32
        1.158l-1.315 2.191a2.11 2.11 0 01-1.81 1.025 1.055 1.055 0 01-1.055-1.055v-1.172c0-.92-.56-1.747-1.414-2.089l-.655-.261a2.25
        2.25 0 01-1.383-2.46l.007-.042a2.25 2.25 0 01.29-.787l.09-.15a2.25 2.25 0 012.37-1.048l1.178.236a1.125 1.125 0 001.302-.795l.208-.73a1.125
        1.125 0 00-.578-1.315l-.665-.332-.091.091a2.25 2.25 0 01-1.591.659h-.18c-.249 0-.487.1-.662.274a.931.931 0 01-1.458-1.137l1.411-2.353a2.25
        2.25 0 00.286-.76m11.928 9.869A9 9 0 008.965 3.525m11.928 9.868A9 9 0 118.965 3.525" />
      </svg>
      <span class="text-2xl font-bold text-gray-500 p-4 ">Current Location</span>
    </div>
  </button>

  <!-- Toogle Theme-->
  <div
    class="xl:row-span-1 xl:col-span-1 h-20 flex effect flex-col bg-primary rounded-xl   p-5 dark:bg-night-700 toggle-btn"
    id="_1st-toggle-btn">
    <input type="checkbox" [checked]="themeService.isDark" (click)="toggleTheme()">
    <span></span>
  </div>
