<footer class="flex h-16 items-center rounded-t-lg bg-white dark:bg-night-700">
  <div class="flex w-full items-center justify-between px-7 text-[13px] font-medium">
    <div class="text-gray-400 dark:text-night-300">
      <span class="text-xl mr-2 lg:text-xl">{{ year }}©</span>
      <a
        href="https://github.com/kevinAcevedo240"
        target="_blank"
        class="text-xl font-normal text-gray-600 hover:text-primary-500 lg:text-2xl dark:text-night-100 dark:hover:text-primary-500">
        <b>Kevin Acevedo</b>
      </a>
    </div>
    <ul class="flex text-gray-500 space-x-2 dark:text-night-300">
      <li class="effect hover:text-primary-500 p-1 rounded-lg">
        <a href="https://www.linkedin.com/in/kevin-julian-acevedo-salazar/" target="_blank" class="text-blue-600 hover:text-blue-800">
          <fa-icon class="text-2xl px-1 lg:text-4xl linkedin-icon trans" [icon]="faLinkedin"></fa-icon>
        </a>
      </li>
      <li class="effect hover:text-primary-500 p-1 rounded-lg">
        <a href="https://github.com/kevinAcevedo240/Weather-Application" target="_blank" class="text-gray-600 hover:text-gray-800">
          <fa-icon class="text-2xl px-1 lg:text-4xl" [icon]="faGithub"></fa-icon>
        </a>
      </li>

    </ul>
  </div>
</footer>

