<div class="flex h-full effect flex-col bg-primary rounded-xl p-6 dark:bg-night-700">
<h1 class=" mb-4 text-xl font-semibold text-gray-500 xl:text-2xl">Todays Weather Conditions</h1>
  <div class="flex items-center justify-start">
    <div class="card-1 effect rounded-full bg-primary w-20 h-20 flex items-center justify-center transform duration-300  hover:bg-blue-400 hover:shadow-lg  hover:shadow-blue-500/50 dark:bg-night-700 ">
      <fa-icon class="text-5xl text-blue-500 transform duration-300 hover:text-blue-700" [icon]="faWind"></fa-icon>
    </div>
    <span class="ml-4 text-3xl font-semibold text-gray-500">38.6</span>
  </div>

  <div class="flex items-center justify-start mt-4">
    <div class="card-2 effect rounded-full bg-primary w-20 h-20 flex items-center justify-center transform duration-300  hover:bg-blue-400 hover:shadow-lg  hover:shadow-blue-500/50 dark:bg-night-700 ">
      <fa-icon class="text-5xl text-blue-500 transform duration-300 hover:text-blue-700" [icon]="faUmbrella"></fa-icon>
    </div>
    <span class="ml-4 text-3xl font-semibold text-gray-500">1025hPa</span>
  </div>

  <div class="flex items-center justify-start mt-4">
    <div class="card-3 effect rounded-full bg-primary w-20 h-20 flex items-center justify-center transform duration-300  hover:bg-blue-400 hover:shadow-lg  hover:shadow-blue-500/50 dark:bg-night-700 ">
      <fa-icon class="text-5xl text-blue-500 transform duration-300 hover:text-blue-700" [icon]="faTint"></fa-icon>
    </div>
    <span class="ml-4 text-3xl font-semibold text-gray-500">82%</span>
  </div>

</div>
