<!-- Card -->
<div class="flex h-full effect flex-col bg-primary rounded-xl p-5 dark:bg-night-700">
    <div class="h-cursor-pointer rounded-2xl bg-cover effect p-4 mb-5">
      <img src="../../../../../assets/icons/sun/13.png" alt="sun" class="drop" fill>
    </div>
    <div class="effect-inside rounded-xl p-5 ">
      <p class="text-xl text-gray-400 mt-2">
        Temperature
      </p>
      <h1 class="text-5xl font-semibold text-gray-600">24°C</h1>
      <p class="text-xl text-gray-400 mt-4">
        Cloudy morning
      </p>
      <div class="mt-80">
        <h1 class="text-xl font-semibold text-gray-400 mt-2">Pereira, Risaralda</h1>
      </div>
    </div>

</div>
<!-- end Card -->
