<!-- Card -->
<div class="flex h-full effect flex-col bg-primary rounded-xl p-3 dark:bg-night-700">
  <div class="flex-col h-full bg-primary rounded-xl p-5 dark:bg-night-700">
    <div class="h-cursor-pointer rounded-xl bg-cover effect p-4 mb-5">
      <img src="../../../../../assets/icons/sun/13.png" alt="sun" class="drop">
    </div>
    <div class="effect-inside p-5 rounded-xl">
      <p class="text-xl text-gray-400 mt-2">
        Temperature
      </p>
      <h1 class="text-5xl font-semibold text-gray-600">24°C</h1>
      <p class="text-xl text-gray-400 mt-4">
        Cloudy morning
      </p>
      <div class="mt-72">
        <h1 class="text-xl font-semibold text-gray-400 mt-2">Pereira, Risaralda</h1>
      </div>
    </div>

  </div>
</div>
<!-- end Card -->


<!-- Card -->
<!-- <div class="flex h-full  effect flex-col bg-primary rounded-xl  p-5 dark:bg-night-700">
  <div class="flex-col h-full  effect  bg-primary rounded-xl  p-5 dark:bg-night-700">
    <div class="h- cursor-pointer rounded-md bg-cover">
      <img src="../../../../../assets/icons/sun/13.png" alt="sun" class="drop">
    </div>
    <p class="text-xl text-gray-400 mt-2">
      Temperature
    </p>
    <h1 class="text-5xl font-semibold text-gray-600">24°C</h1>
  </div>
</div> -->
<!-- end Card -->

<!-- Card -->
<!-- <div class="flex h-full  effect flex-col bg-primary rounded-xl  p-6 dark:bg-night-700">
    <div class="h- cursor-pointer rounded-md bg-cover effect p-4">
      <img src="../../../../../assets/icons/sun/13.png" alt="sun" class="drop">
    </div>
    <p class="text-xl text-gray-400 mt-2">
      Temperature
    </p>
    <h1 class="text-5xl font-semibold text-gray-600">24°C</h1>
</div> -->
<!-- end Card -->
