
<!-- <div class="flex h-full  effect flex-col bg-[#f6f5f0] rounded-xl  p-5 dark:bg-night-700">

  <div class="h-full cursor-pointer rounded-md bg-cover transition duration-150 ease-in-out flex items-start">
    <img src="../../../../../assets/icons/sun/13.png" alt="iconWeather" class="object-contain w-full h-36 top-0 drop ">
  </div>
  <h2 class="text-xl  font-semibold text-gray-00 dark:text-night-50">25 °C</h2>
</div> -->



<!-- Card -->
<div class="flex h-full w-40 xl:w-full lg:w-full effect flex-col bg-primary rounded-xl items-center p-3  transform duration-500 hover:-translate-y-3 dark:bg-night-700">
  <img class="drop object-contain w-full h-44 xl:h-32 sm:w-40" [src]="time.icon" alt="iconWeather" />
  <div class="pt-1 my-auto flex flex-col items-center">
      <h1 class="text-4xl font-semibold text-gray-600">{{time.Temperature}}°C</h1>
      <p class="text-xl text-gray-400 mt-2">
        {{time.description}}
      </p>
  </div>
</div>
<!-- end Card -->
