

<!-- Card -->
<div class="card flex h-full w-40 xl:w-full lg:w-full effect flex-col bg-primary rounded-xl items-center p-3 transform duration-500 hover:-translate-y-3 hover:bg-gradient-to-b from-blue-500 to-blue-300 hover:shadow-lg hover:shadow-blue-500/50 dark:bg-night-700 group">
  <img class="drop object-contain w-full h-44 xl:h-32 sm:w-40" [src]="time.icon" alt="iconWeather" fill/>
  <div class="pt-1 my-auto flex flex-col items-center">
    <h1 class="text-4xl font-semibold text-gray-600">{{ time.Temperature | temperatureConversion }}</h1>
    <p class="text-xl text-gray-400 mt-2">{{ time.date | customDate }}</p>
  </div>

  <div class="px-3 transit opacity-0 bg-gray-600 text-white text-center text-sm rounded-lg py-2 absolute bottom-4 left-1/2 transform  duration-200 -translate-x-1/2 group-hover:opacity-100 pointer-events-none whitespace-nowrap">
    {{ time.description | camelCase}}
  </div>
</div>
<!-- end Card -->

